* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
}
.navbar {
    display: flex;
}
.navbar ul {
    display: flex;
}
.logo h1 {
    color: tomato;
}
.logo span {
    color: black;
}