* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: rgb(52, 49, 57);
}

.container {
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.navbar {
    display: flex;
    justify-content: space-around;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.logo h1 {
    color: tomato;
}

.navbar ul a {
    color: white;
    text-decoration: none;
    font-style: 30px;
    margin-left: 30px;
    font-family: Pacifico;
    animation: neon3 1.5s ease-in-out infinite alternate;
}
@keyframes neon3 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ffdd1b,
        0 0 70px #ffdd1b, 0 0 80px #ffdd1b, 0 0 100px #ffdd1b, 0 0 150px #ffdd1b;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ffdd1b,
        0 0 35px #ffdd1b, 0 0 40px #ffdd1b, 0 0 50px #ffdd1b, 0 0 75px #ffdd1b;
    }
  }

.logo span {
    color: rgb(166, 160, 160);
}

.box img {
    position: relative;
    left: 230px;
    top: 60px;
}